.pytest_cache/
.vscode/    
__pycache__/    
.ipynb_checkpoints/
.DS_Store
*.pyc
*.pyo
*.pyd
*.so
*.egg-info
*.egg
*.egg-info
*.egg
*.pyc
*.pyo
*.pyd
*.so
*.swp
*.swo
*.bak
*.tmp
*.log
*.sql
*.sqlite
*.db
*.db3
*.db4
*.db5
*.db6
*.db7
*.db8
*.db9
*.db10
*.db1
*.db2
logs/
catboost_info/
datasets/
weights/
*.mp4
.serena/
.mimocode/